<section id="header">
    <div class="container">
        <div class="row">
            <div class="col-md-12 header-right hidden-sm-down">
                <div class="row">
                    <div class="col-md-12">
                        <p class="head-text"><span class="text-green">TEXT TEXT</span> TEXT TEXT TEXT</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-7">
                        <p class="sub-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio quibusdam quis, reprehenderit doloremque fugiat molestias, corporis voluptas.</p>
                    </div>
                    <div class="col-md-5 center-block">
                        <button type="submit" class="btn btn-outline-info btn-block btn-text">Download</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="suggestion">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>We suggested</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-6">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio quibusdam quis, reprehenderit doloremque fugiat molestias, corporis voluptas.</p>
            </div>
            <div class="col-md-3">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-xs-center">
                <img class="img-responsive img-block" src="../../../../assets/img/main-shape.png"/>
            </div>
        </div>
    </div>
</section>

<app-main-item-right
        [headImagePath]="'../../../assets/img/camomile.png'"
        [headDescription]="'HEAD DESCRIPTION'"
        [itemDescription]="'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse rhoncus nunc a tellus maximus, in auctor elit pretium. Praesent posuere felis tellus, at ultrices dolor tincidunt vitae. Duis turpis enim, lobortis eget sapien ut, ultrices tincidunt lectus. Donec non est eget sapien malesuada efficitur. Nunc eget venenatis diam.'"
        [mainImagePath]="'../../../assets/img/main_screen/img_1.png'"
        [textColor]="'#956CAD'"
        [btnImgDefault]="'../../../../assets/img/buttons/button_1.png'"
        [btnImgHover]="'../../../../assets/img/buttons/button_1a.png'"
        (btnClick)="itemBtnClick('catalogItem1')">
</app-main-item-right>

<app-main-item-left
        [headImagePath]="'../../../assets/img/plant.png'"
        [headDescription]="'HEAD DESCRIPTION'"
        [itemDescription]="'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse rhoncus nunc a tellus maximus, in auctor elit pretium. Praesent posuere felis tellus, at ultrices dolor tincidunt vitae. Duis turpis enim, lobortis eget sapien ut, ultrices tincidunt lectus. Donec non est eget sapien malesuada efficitur. Nunc eget venenatis diam.'"
        [mainImagePath]="'../../../assets/img/main_screen/img_2.png'"
        [textColor]="'#DF679A'"
        [btnImgDefault]="'../../../../assets/img/buttons/button_2.png'"
        [btnImgHover]="'../../../../assets/img/buttons/button_2a.png'"
        (btnClick)="itemBtnClick('catalogItem2')">
</app-main-item-left>

<app-main-item-right
        [headImagePath]="'../../../assets/img/rose.png'"
        [headDescription]="'HEAD DESCRIPTION'"
        [itemDescription]="'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse rhoncus nunc a tellus maximus, in auctor elit pretium. Praesent posuere felis tellus, at ultrices dolor tincidunt vitae. Duis turpis enim, lobortis eget sapien ut, ultrices tincidunt lectus. Donec non est eget sapien malesuada efficitur. Nunc eget venenatis diam.'"
        [mainImagePath]="'../../../assets/img/main_screen/img_3.png'"
        [textColor]="'#CD76AC'"
        [btnImgDefault]="'../../../../assets/img/buttons/button_3.png'"
        [btnImgHover]="'../../../../assets/img/buttons/button_3a.png'"
        (btnClick)="itemBtnClick('catalogItem3')">
</app-main-item-right>

<app-main-item-left
        [headImagePath]="'../../../assets/img/sprout.png'"
        [headDescription]="'HEAD DESCRIPTION'"
        [itemDescription]="'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse rhoncus nunc a tellus maximus, in auctor elit pretium. Praesent posuere felis tellus, at ultrices dolor tincidunt vitae. Duis turpis enim, lobortis eget sapien ut, ultrices tincidunt lectus. Donec non est eget sapien malesuada efficitur. Nunc eget venenatis diam.'"
        [mainImagePath]="'../../../assets/img/main_screen/img_4.png'"
        [textColor]="'#719034'"
        [btnImgDefault]="'../../../../assets/img/buttons/button_4.png'"
        [btnImgHover]="'../../../../assets/img/buttons/button_4a.png'"
        (btnClick)="itemBtnClick('catalogItem4')">
</app-main-item-left>

<app-main-item-right
        [headImagePath]="'../../../assets/img/broccoli.png'"
        [headDescription]="'HEAD DESCRIPTION'"
        [itemDescription]="'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse rhoncus nunc a tellus maximus, in auctor elit pretium. Praesent posuere felis tellus, at ultrices dolor tincidunt vitae. Duis turpis enim, lobortis eget sapien ut, ultrices tincidunt lectus. Donec non est eget sapien malesuada efficitur. Nunc eget venenatis diam.'"
        [mainImagePath]="'../../../assets/img/main_screen/img_5.png'"
        [textColor]="'#698A2A'"
        [btnImgDefault]="'../../../../assets/img/buttons/button_5.png'"
        [btnImgHover]="'../../../../assets/img/buttons/button_5a.png'"
        (btnClick)="itemBtnClick('catalogItem5')">
</app-main-item-right>

<app-main-item-left
        [headImagePath]="'../../../assets/img/bouquet-of-daisys.png'"
        [headDescription]="'HEAD DESCRIPTION'"
        [itemDescription]="'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse rhoncus nunc a tellus maximus, in auctor elit pretium. Praesent posuere felis tellus, at ultrices dolor tincidunt vitae. Duis turpis enim, lobortis eget sapien ut, ultrices tincidunt lectus. Donec non est eget sapien malesuada efficitur. Nunc eget venenatis diam.'"
        [mainImagePath]="'../../../assets/img/main_screen/img_6.png'"
        [textColor]="'#C85E3F'"
        [btnImgDefault]="'../../../../assets/img/buttons/button_6.png'"
        [btnImgHover]="'../../../../assets/img/buttons/button_6a.png'"
        (btnClick)="itemBtnClick('catalogItem6')">
</app-main-item-left>

<section id="advantages">
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <p class="adv-text-head">OUR ADVANTAGES</p>
                <p class="adv-text-descr">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse rhoncus nunc a tellus maximus, in auctor elit pretium. Praesent posuere felis tellus, at ultrices dolor tincidunt vitae. Duis turpis enim, lobortis eget sapien ut, ultrices tincidunt lectus. Donec non est eget sapien malesuada efficitur. Nunc eget venenatis diam.</p>
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="row">
            <div class="col-md-12 text-xs-center">
                <img class="img-responsive img-block" src="../../../../assets/img/main-shape.png"/>
            </div>
        </div>
        <div class="row adv-row-margin">
            <div class="col-md-4">
                <img class="img-responsive img-block" src="../../../../assets/img/main_screen/aloe.png"/>
                <hr>
                <p class="adv-text-item">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse rhoncus nunc a tellus maximus, in auctor elit pretium. Praesent posuere felis tellus, at ultrices dolor tincidunt vitae. Duis turpis enim, lobortis eget sapien ut, ultrices tincidunt lectus. Donec non est eget sapien malesuada efficitur. Nunc eget venenatis diam.</p>
            </div>
            <div class="col-md-4">
                <img class="img-responsive img-block" src="../../../../assets/img/main_screen/cactus.png"/>
                <hr>
                <p class="adv-text-item">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse rhoncus nunc a tellus maximus, in auctor elit pretium. Praesent posuere felis tellus, at ultrices dolor tincidunt vitae. Duis turpis enim, lobortis eget sapien ut, ultrices tincidunt lectus. Donec non est eget sapien malesuada efficitur. Nunc eget venenatis diam.</p>
            </div>
            <div class="col-md-4">
                <img class="img-responsive img-block" src="../../../../assets/img/main_screen/lily.png"/>
                <hr>
                <p class="adv-text-item">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse rhoncus nunc a tellus maximus, in auctor elit pretium. Praesent posuere felis tellus, at ultrices dolor tincidunt vitae. Duis turpis enim, lobortis eget sapien ut, ultrices tincidunt lectus. Donec non est eget sapien malesuada efficitur. Nunc eget venenatis diam.</p>
            </div>
        </div>
    </div>
</section>
