<section id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img class="img-responsive center-block" src="../../../../assets/img/logo/logo_white.png"/>
                <p class="footer-text-logo">City City Street Street</p>
            </div>
            <div class="col-md-4">
                <p class="footer-text-descript-1">Description text text text text text text text text 1</p>
                <p class="footer-text-descript-2">Description text text text text text text text 2</p>
                <p class="footer-text-email">e-mail e-mail@e-mail.com 2</p>
            </div>
            <div class="col-md-2">
                <p class="footer-text-tel"> +00 (000) 000-000</p>
                <p class="footer-text-tel"> +00 (000) 000-000</p>
                <p class="footer-text-tel"> +00 (000) 000-000</p>
            </div>
            <div class="col-md-2">
                <p class="footer-text-final">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </div>
    </div>
</section>
